<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="libs/vue.min.js"></script>
    <link href="libs/bootstrap.min.css" rel="stylesheet">
    <title>Ransomwatch</title>
<style>
    body{
        background-color: #f4f4f4
    }
    .sitesStyle{
cursor: pointer;
    }

    .loading {
  background: transparent url('/assets/loader.gif') center no-repeat;
  height: 400px;
  width: 400px;
}



</style> 



</head>
  <body>
    <div id="app-4" class="container-fluid">
        <div class="row">
            <div class="col-12"></div>
            <div class="card w-100 mx-auto">
                <div class="card-body">
                    <div class="card-text">
                     This is a website that takes screenshot once a day of the biggest ransomware sites on the dark web (Tor). 
                      There are only screenshots and under no circumstances will I provide link or leaked files!
                      <br>
                      This  is meant to be a tool for security researchers and journalists. The site was built march 2021 with minimum functionality, expect more cool things to appear; notifications when ransomware site has new updates, new ransomware sites, data analytics of leaked data etc.
                      if you need to contact me or submit a ransomware site:<br>
                      telegram: <a href="http://t.me/ransomWatch" target="_blank">http://t.me/ransomWatch</a>
                      <br>
                     <br>
                      20.04.2021: File Leaks group added
                      <br>
                      21.04.2021: A second LV Group site has been added
                         <br>
                       04.05.2021: N3tw0rm added
                   
                    </div>
               
                </div>
              </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                <div class="mt-5">
                    <div class="list-group" id="list-tab" role="tablist">
                        <a class="list-group-item list-group-item-action sitesStyle" v-on:click="changeSite(site)" v-bind:class="{ active: site.selected }" v-for="site in ransomSites">{{ site.siteName }} <span style="color:darkgray" class="pull-right">({{formatTime(site.lastScreenshot)}} ago)</span>  <img height="24px" src="assets/new-badge-2-64.png" v-if="site.siteid==23 || site.siteid==24 ||site.siteid==25"></img> </a>
                        </div>
                </div>
            </div>
            <div class="col-10 mt-5">
                <span v-bind:title="selectedSite.lastScreenshot">Screenshot last captured: {{selectedSite.lastScreenshot}}</span>
                <div class="shadow-lg bg-body rounded mt-3">
                    <div v-if="imageLoading" class="loading"></div>
                    <img id="imgcontainer" class="img-fluid" v-bind:src="selectedSite.screenshot"  @load="ImgLoaded"></img>
                </div>
            </div>
        </div>
    </div>
    
      <script src="libs/vue-resource.min.js"></script>
      <script src="application.js"></script>
      <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-07MLRXGZ6F"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-07MLRXGZ6F');
</script>
      </body>
</html>
